<%= stylesheet_link_tag "videos", :media => "all" %>

<div class="all-contents">

  <div class="video_box">
    <div class="video-youtube">
      <iframe name="player" width="100%" height="100%" src="https://www.youtube.com/embed/<%= @video.url %>?autoplay=1&loop=1&playlist=<%= @video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video_title">
      <h3> <%= @video.title %> </h3>
    </div>

    <div class="video_date">
      <h2><%= @video.updated_on %> に公開済み </h2>

    <%# 自分がログインしているときのみ表示  %>
    <% if user_signed_in?  && current_user.id == 1 %>
        <%= link_to '編集',edit_video_path(@video) %>
        <%= link_to '削除',video_path(@video) ,
        method: :delete,
        data: {confirm: '本当に削除しますか？'}
        %>
    <% end %>
    </div>

    <div id="like-<%= @video.id %>"> <%#いいね機能%>
      <%= render partial: "videos/like", locals: {video: @video }%>
    </div>

    <table border="1px" style="border-collapse: collapse; border-color: rgb(238, 232, 232)">


      <tr class="video-title">
        <th> タイトル </th>
        <th>   
          <p> <%= @video.title %> </p>
        </th>
      </tr>

      <tr class="video-description">
        <th> 概要 </th>
        <th>   
          <p> <%=safe_join(@video.description.split("\n"),tag(:br))%> </p>
          <p><%= raw Rinku.auto_link(@video.highlight, :all, 'target="player"') %></p>
        </th>
      </tr>

      <tr class="video-highlight">
        <th> 見所 </th>
        <th>   
          <p> <%=safe_join(@video.highlight.split("\n"),tag(:br))%> </p>
        </th>
      </tr>

      <tr class="video-quotes">
        <th> 名言 </th>
        <th>   
          <p> <%= @video.quotes %> </p>
        </th>
      </tr>

      <tr>
        <th> ランク </th>
        <th>
          <div class="video-rate">
            <% case @video.rate %>
              <% when 1 %>
                <h3 class="S"> S </h3>
              <% when 2 %>
                <h3 class="A"> A </h3> 
              <% when 3 %>
                <h3 class="B"> B </h3> 
              <% else %>
                <h3 class="C"> C </h3> 
            <% end %>
          </div>
        </th>
      </tr>

      <tr class="video_kind_of">
        <th> チャンネル種類 </th>
        <th>
          <div class="channel">
            <% case @video.kind_of %>
              <% when 0 %>
                <h3> メインチャンネル </h3>
              <% when 1 %>
                <h3> 東海オンエアの控え室 </h3> 
              <% when 2 %>
                <h3> 個人チャンネル </h3> 
              <% else %>
                <h3> その他のチャンネル </h3> 
            <% end %>
          </div>
        </th>
      </tr>

      <tr>
        <th> カテゴリー </th>
        <th>   
          <div class="video-category">
            <% case @video.category %>
              <% when 0 %>
                <h3> 企画もの </h3>
              <% when 1 %>
                <h3> サブチャン </h3>
              <% when 2 %>
                <h3> コント </h3> 
              <% when 3 %>
                <h3> クイズ </h3>
              <% when 4 %>
                <h3> 選手権 </h3>
              <% when 5 %>
                <h3> 検証系 </h3>
              <% when 6 %>
                <h3> 対決 </h3>
              <% when 7 %>
                <h3> 王 </h3>
              <% when 8 %>
                <h3> 王 </h3>
              <% when 9 %>
                <h3> 旅行 </h3>
              <% when 10 %>
                <h3> 料理 </h3>
              <% when 11 %>
                <h3> スポーツ </h3>
              <% when 12 %>
                <h3> ドッキリ </h3>
              <% when 13 %>
                <h3> ゲーム </h3>
              <% when 14 %>
                <h3> コラボ </h3>
              <% when 91 %>
                <h3> ニンマリシティへようこそ </h3>
              <% when 92 %>
                <h3> ゆめまる美術館 </h3>
              <% when 93 %>
                <h3> ブラーボりょうのボンサバドゥチャンネル </h3>
              <% when 94 %>
                <h3> 虫眼鏡の放送部 </h3>
              <% when 95 %>
                <h3> としみつ東海オンエアの </h3>
              <% when 96 %>
                <h3> 動画アップロードチャンネル </h3>
              <% when 99 %>
                <h3> ご飯じゃんけん </h3>
              <% when 98 %>
                <h3> いじわる </h3>
              <% when 97 %>
                <h3> 十字架(サブチャン) </h3>
              <% else %>
                <h3> その他 </h3> 
            <% end %>
          </div>
        </th>
      </tr>

      <tr>
        <th> 登場メンバー </th>
        <th>
          <div class="video-people">
            <% @video.people.each do |person| %>
              <div class="video-person-cast">
                <%= render partial: "person-color-link", locals: { person_kind: person.name,person: person } %>
              </div>
            <% end %>
          </div>
        </th>
      </tr>

      <tr class="video-mvp">
        <th> マンオブザマッチ </th>
        <th>
          <div class="video-person-mvp">
            <%= render partial: "person-color-link", locals: { person_kind: @video.mvp } %>
          </div>
        </th>
      </tr>

      <tr>
        <th> 編集者 </th>
        <th>
          <div class="video-person-editor">
            <%= render partial: "person-color-link", locals: { person_kind: @video.editor } %>
          </div>
        </th>
      </tr>


      <tr>
        <th> 撮影場所 </th>
        <th>
          <div class="places">
            <% @video.places.each do |place| %>
              <%= link_to place_path(place.id) do %>
                <div class="btn btn-danger">
                  <%= place.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </th>
      </tr>

      <tr>
        <th> BGM </th>
        <th>
          <div class="musics">
            <% @video.musics.each do |music| %>
              <div class="btn btn-success">
                <%= link_to music.name ,music_path(music.id)%>
              </div>
            <% end %>
          </div>
        </th>
      </tr>

      <tr>
        <th> 罰ゲーム </th>
        <th>
          <div class="penalties">
              <%= render partial: "penalties/penalty-color", locals: { penalties: @video.penalties }%>
          </div> <%# video-tags %>
        </th>
      </tr>

      <tr>
        <th> ハッシュタグ </th>
        <th> 
          <div class="tags">
              <%= render partial: "tags/tag-color", locals: { tags: @video.tags }%>
          </div> <%# video-tags %>
        </th>
      </tr>

      <tr class="video-updated_on">
        <th> アップロード日 </th>
        <th>   
          <%= @video.updated_on %> 
        </th>
      </tr>

    </table>

  </div>

  <div class="related-videos">
    <%= render partial: "video-articles", locals: { videos: @related }%>
    <%= render partial: "video-articles", locals: { videos: Video.all.sample(6) }%>
  </div>